@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --Lime: hsl(61, 70%, 52%);
    --Red: hsl(4, 69%, 50%);
    --White: hsl(0, 0%, 100%);
    --Slate-100: hsl(202, 86%, 94%);
    --Slate-300: hsl(203, 41%, 72%);
    --Slate-500: hsl(200, 26%, 54%);
    --Slate-700: hsl(200, 24%, 40%);
    --Slate-900: hsl(202, 55%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Slate-100);
    font-family: 'Plus Jakarta Sans';
}

.container {
    margin: 0 auto;
    max-width: 375px;
}

.calculator {
    background-color: var(--White);
    color: var(--Slate-900);
    padding: 30px 25px;
}

.calculator header {
    margin-bottom: 20px;
}

.calculator h1 {
    margin-bottom: 5px;
}

.calculator a {
    color: var(--Slate-700);
}

.mort {
    color: var(--Slate-700);
    font-size: 15px;
}

.mort input {
    padding: 10px 75px;
    margin: 10px 0 15px;
}

.calculator button {
    padding: 10px 75px;
    border-radius: 50px;
    background-color: var(--Lime);
    border: none;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

.results1 {
    background-color: var(--Slate-900);
    color: var(--White);
    padding: 30px 25px;
    text-align: center;
}

.results1 h1 {
    margin-bottom: 20px;
}

.results1 p {
    color: var(--Slate-300);
}

.results2 {
    display: none;
    background-color: var(--Slate-900);
    color: var(--White);
    padding: 30px 25px;
}

.results2 h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

.results2 p {
    color: var(--Slate-300);
    margin-bottom: 20px;
    line-height: 1.5;
}

.total-payment {
    border-top: 4px solid var(--Lime);
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}

.total-payment hr {
    margin: 10px 0;
}

.total-payment p {
    margin-bottom: 10px;
}

.monthly-pay {
    color: var(--Lime);
    font-size: 35px;
    font-weight: 700;
}

.total-pay {
    font-size: 20px;
    font-weight: 700;
}